name: Pipeline de Anonimização

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn faker

    - name: Generate raw data
      run: python src/data_gen.py

    - name: Upload raw dataset
      uses: actions/upload-artifact@v4
      with:
        name: raw-dataset
        path: data/generated_raw_data.csv

    - name: Run anonymizer
      run: python src/anonymizer.py

    - name: Upload anonymized dataset
      uses: actions/upload-artifact@v4
      with:
        name: anonymized-dataset
        path: data/anonymized_data.csv